<mat-toolbar color="primary">
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <mat-icon style="width: 50px; height: 30px" svgIcon="github"></mat-icon>
  <span>VCS</span>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <!-- <img src="assets/github.png" height="30px" alt="" /> -->
    <!-- <mat-icon style="width: 50px; height: 30px" svgIcon="github"></mat-icon> -->
  </button>
  <button
    *ngIf="auth.user$ | async"
    mat-raised-button
    color="warn"
    routerLink="{{ uname + '/dashboard' }}"
    class="repo"
  >
    REPOSITORIES
  </button>

  <button
    *ngIf="auth.user$ | async"
    mat-raised-button
    color="accent"
    (click)="auth.signOut()"
  >
    LOGOUT
  </button>
  <button
    *ngIf="!(auth.user$ | async)"
    mat-raised-button
    color="accent"
    (click)="auth.signIn()"
  >
    LOGIN
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
